*{
  margin: 0px;
  padding: 0px;
}

body{
  height: 800px;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  text-transform: none;
}

nav{
  display: flex;
  position: fixed;
  min-height: 50px;
  max-height: 50px;
  background: #212523;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.left-side{
  display: flex;
}

.nav-link-wrapper > a{
  color: white;
  font-size: 18px;
  letter-spacing: 0.3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-top: 16px;
}

.nav-link-wrapper:hover > a{
  color: lightskyblue;
}

.author{
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-family: "Helvetica";
}

.author:hover{
  color: lightskyblue;
}

.nav-link-wrapper > .dropdown{
  display: none;
}

.nav-link-wrapper:hover > .dropdown{
  display: block;
  position: absolute;
  top: 99.1%;
  width: 150px;
  text-align: center;
  background: #212523;
}

.nav-link-wrapper > .dropdown > .menu{
  padding: 10px;
}

.nav-link-wrapper > .dropdown > .menu > a{
  color: white;
}

.divider > span{
  display: block;
  background: white;
  height: 1px;
  width: 150px;
}

.nav-link-wrapper:hover > .dropdown{
  border-bottom: 3px solid lightskyblue;
}

.nav-link-wrapper > .dropdown > .menu:hover{
  background: black;
}

.nav-link-wrapper .dropdown .menu:hover > a{
  color: lightskyblue;
}

/* others */
.cursor-default{
  cursor: default;
}

.cursor-pointer{
  cursor: pointer;
}

.nav-link-wrapper:hover > .border-bottom{
  border-bottom: 3px solid lightskyblue;
}

.nav-link-wrapper:hover > .background-black{
  background: black;
}
