*{
  border: 0px;
  margin: 0px;
}

body{
  background: rgb(41, 41, 41);
  height: 800px;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-around;
  background: rgb(33, 37, 41);
  min-height: 60px;
  max-height: 60px;
  align-items: center;
  width: 100%;
}

.left-side{
  display: flex;
}

.left-side > li > a{
  font-size: 19px;
  color: #9d9d9d;
  letter-spacing: 0.5px;
  font-family: "Times New Roman";
  padding: 17px;
}

.left-side > li > a:hover{
  color: white;
}

.left-side li a ul{
  display: none;
}

.left-side li:hover ul{
  display: block;
  position: absolute;
  top: 99.1%;
  width: 120px!important;
  background: rgb(33, 37, 41);
  text-align: center;
}

.left-side li a ul .menu{
  margin-left: -40px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #9d9d9d;
  font-size: 17px;
}

.left-side li a ul .menu:hover{
  color: white;
}

.right-side > li{
  font-size: 28px;
  letter-spacing: 2.0px;
  color: #9d9d9d;
  font-weight: bold;
  font-family: "Helvetica";
}

.right-side > li:hover{
  color: white;
  cursor: pointer;
}

.divider{
  margin-left: -40px;
  overflow: hidden;
  height: 1px;
  background: #9d9d9d;
  width: 160px;
}
